body.errorpage {
  background: url(../images/errorbg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  body.errorpage .page-header {
    margin-bottom: 80px; }
    body.errorpage .page-header h1 {
      font-size: 80px;
      font-weight: 600;
      color: #fff;
      margin: 0; }
    body.errorpage .page-header .subtitle {
      font-size: 30px;
      font-weight: 400;
      color: #fff; }
  body.errorpage .page-content {
    font-size: 16px;
    color: #fff;
    margin-bottom: 80px; }
  body.errorpage .page-footer {
    color: #fff; }

