/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.svg") format("svg");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.svg") format("svg");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("../fonts/OpenSans-Semibold.woff2") format("woff2"), url("../fonts/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold.svg") format("svg");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

.builder-entry-content {
  font-size: 13px; }
  .builder-entry-content h2 {
    font-size: 27px;
    font-weight: normal;
    margin: 0; }
  .builder-entry-content body {
    padding-top: 70px; }
  .builder-entry-content h1 {
    margin-bottom: 30px; }
  .builder-entry-content h3 {
    padding: 0px 0 30px 0;
    margin: 0;
    font-size: 15px;
    font-weight: bold; }
  .builder-entry-content section {
    margin-bottom: 40px; }
  .builder-entry-content p, .builder-entry-content strong {
    line-height: 190%; }
  .builder-entry-content p {
    margin-bottom: 30px; }
  .builder-entry-content .big {
    font-size: 18px; }
  .builder-entry-content ol, .builder-entry-content ul {
    margin-bottom: 30px; }
  .builder-entry-content ul > li,
  .builder-entry-content ol > li {
    line-height: 190%; }
  .builder-entry-content figure > img {
    margin-bottom: 10px; }
  .builder-entry-content figure.with-title {
    margin-bottom: 30px; }
  .builder-entry-content strong.do {
    border-top: 15px solid #4caf50;
    color: #2e7b32;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    display: block; }
  .builder-entry-content strong.dont {
    border-top: 15px solid #d32F2f;
    color: #d32F2f;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    display: block; }
  .builder-entry-content .container {
    max-width: 1130px; }
    .builder-entry-content .container-xs {
      max-width: 650px; }
    .builder-entry-content .container-sm {
      max-width: 800px; }
    .builder-entry-content .container-md {
      max-width: 1000px; }
    .builder-entry-content .container-lg {
      max-width: 1200px; }
  .builder-entry-content .container img {
    max-width: 100%; }
  .builder-entry-content figure > img {
    max-width: 100%; }

.field-with-headline {
  padding-top: 50px; }

.row {
  zoom: 1; }

.row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6 {
  width: 50%;
  float: left; }

.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4 {
  width: 33%;
  float: left; }

.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8 {
  width: 66%;
  float: left; }

.builder-entry-content * {
  font-family: 'Open Sans'; }

.container {
  margin: 0 auto; }

.block {
  padding-top: 0;
  padding-bottom: 0; }
  .block .container {
    padding: 50px 50px; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.tile-link-wrapper {
  position: relative; }

.jumbotron .container-fluid {
  height: 300px;
  padding: 20px 50px;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.jumbotron h1 {
  font-family: 'Open Sans';
  color: #fff;
  font-size: 40px;
  line-height: 120%; }

.single-tile-link-wrapper {
  margin-top: 0;
  margin-bottom: 0; }

.field-buttons ul {
  margin-bottom: 0; }
